[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11.git
